Dsl/GeneratedCode/JSRBBRProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="JSRBBRProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/JSRBBRProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/JSRBBRProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizClases -->
  <xsd:element name="tapizClases" type="TapizClases" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizClases">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizClasesHasClase -->
          <xsd:element name="clase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizClasesHasClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizClasesHasClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizClasesHasClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizClases Moniker -->
  <xsd:element name="tapizClasesMoniker" type="TapizClasesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizClasesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizClases instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasOperacion -->
          <xsd:element name="operacion" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasOperacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasOperacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasOperacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseInheritsClaseHija -->
          <xsd:element name="claseHija" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseInheritsClaseHija</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseInheritsClaseHija" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseInheritsClaseHija needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseReferencesTargetClase -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseReferencesTargetClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseReferencesTargetClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseReferencesTargetClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseIncludesTargetClase -->
          <xsd:element name="claseComponente" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseIncludesTargetClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseIncludesTargetClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseIncludesTargetClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseRelatesTargetClase -->
          <xsd:element name="claseRelacion" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseRelatesTargetClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseRelatesTargetClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseRelatesTargetClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="atributoPadre" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="AtributoPadre">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="atributoPadreMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoPadreMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoID -->
  <xsd:element name="atributoID" type="AtributoID" substitutionGroup="atributo" />
  <xsd:complexType name="AtributoID">
    <xsd:complexContent>
      <xsd:extension base="Atributo">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoID Moniker -->
  <xsd:element name="atributoIDMoniker" type="AtributoIDMoniker" substitutionGroup="atributoMoniker" />
  <xsd:complexType name="AtributoIDMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoID instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametro -->
  <xsd:element name="parametro" type="Parametro" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parametro">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: tipoDatos -->
        <xsd:attribute name="tipoDatos" type="tipoDatos" />
        <!-- Property: entradaSalida -->
        <xsd:attribute name="entradaSalida" type="entradaSalida" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametro Moniker -->
  <xsd:element name="parametroMoniker" type="ParametroMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParametroMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parametro instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionNormal -->
  <xsd:element name="operacionNormal" type="OperacionNormal" substitutionGroup="operacion" />
  <xsd:complexType name="OperacionNormal">
    <xsd:complexContent>
      <xsd:extension base="Operacion">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionNormal Moniker -->
  <xsd:element name="operacionNormalMoniker" type="OperacionNormalMoniker" substitutionGroup="operacionMoniker" />
  <xsd:complexType name="OperacionNormalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionNormal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OperacionMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta -->
  <xsd:element name="claseAbstracta" type="ClaseAbstracta" substitutionGroup="clase" />
  <xsd:complexType name="ClaseAbstracta">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseAbstractaHasOperacionAbstracta -->
          <xsd:element name="operacionAbstracta" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseAbstractaHasOperacionAbstracta</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAbstractaHasOperacionAbstracta" minOccurs="1" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAbstractaHasOperacionAbstracta needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta Moniker -->
  <xsd:element name="claseAbstractaMoniker" type="ClaseAbstractaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionAbstracta -->
  <xsd:element name="operacionAbstracta" type="OperacionAbstracta" substitutionGroup="core:modelElement" />
  <xsd:complexType name="OperacionAbstracta">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionAbstracta Moniker -->
  <xsd:element name="operacionAbstractaMoniker" type="OperacionAbstractaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" type="ClaseEnriquecida" substitutionGroup="clase" />
  <xsd:complexType name="ClaseEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseEnriquecidaHasOperacionEnriquecida -->
          <xsd:element name="operacionEnriquecida" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseEnriquecidaHasOperacionEnriquecida</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasOperacionEnriquecida" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasOperacionEnriquecida needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasAtributoEnriquecido -->
          <xsd:element name="atributoEnriquecido" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseEnriquecidaHasAtributoEnriquecido</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasAtributoEnriquecido" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasAtributoEnriquecido needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: colorFondo -->
        <xsd:attribute name="colorFondo" type="xsd:string" />
        <!-- Property: colorLetraNombre -->
        <xsd:attribute name="colorLetraNombre" type="xsd:string" />
        <!-- Property: tipoLetraNombre -->
        <xsd:attribute name="tipoLetraNombre" type="xsd:string" />
        <!-- Property: alineacion -->
        <xsd:attribute name="alineacion" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" type="ClaseEnriquecidaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido -->
  <xsd:element name="atributoEnriquecido" type="AtributoEnriquecido" substitutionGroup="atributoPadre" />
  <xsd:complexType name="AtributoEnriquecido">
    <xsd:complexContent>
      <xsd:extension base="AtributoPadre">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: tipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" />
        <!-- Property: colorLetra -->
        <xsd:attribute name="colorLetra" type="xsd:string" />
        <!-- Property: booleano -->
        <xsd:attribute name="booleano" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido Moniker -->
  <xsd:element name="atributoEnriquecidoMoniker" type="AtributoEnriquecidoMoniker" substitutionGroup="atributoPadreMoniker" />
  <xsd:complexType name="AtributoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoPadreMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionEnriquecida -->
  <xsd:element name="operacionEnriquecida" type="OperacionEnriquecida" substitutionGroup="operacion" />
  <xsd:complexType name="OperacionEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="Operacion">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: tipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" />
        <!-- Property: colorLetra -->
        <xsd:attribute name="colorLetra" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionEnriquecida Moniker -->
  <xsd:element name="operacionEnriquecidaMoniker" type="OperacionEnriquecidaMoniker" substitutionGroup="operacionMoniker" />
  <xsd:complexType name="OperacionEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OperacionMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operacion -->
  <xsd:element name="operacion" abstract="true" type="Operacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Operacion" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: OperacionHasParametros -->
          <xsd:element name="parametros" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of OperacionHasParametros</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="operacionHasParametros" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of OperacionHasParametros needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: valorRetorno -->
        <xsd:attribute name="valorRetorno" type="tipoDatos" />
        <!-- Property: modificador -->
        <xsd:attribute name="modificador" type="modificadorAtr" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operacion Moniker -->
  <xsd:element name="operacionMoniker" abstract="true" type="OperacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Operacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoPadre -->
  <xsd:element name="atributoPadre" abstract="true" type="AtributoPadre" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoPadre" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: modificador -->
        <xsd:attribute name="modificador" type="modificadorAtr" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoPadre Moniker -->
  <xsd:element name="atributoPadreMoniker" abstract="true" type="AtributoPadreMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoPadreMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoPadre instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizClasesHasClase -->
  <xsd:element name="tapizClasesHasClase" type="TapizClasesHasClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizClasesHasClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizClasesHasClase Moniker -->
  <xsd:element name="tapizClasesHasClaseMoniker" type="TapizClasesHasClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizClasesHasClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizClasesHasClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperacion -->
  <xsd:element name="claseHasOperacion" type="ClaseHasOperacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasOperacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end OperacionNormal -->
          <xsd:element ref="operacionNormal" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperacion Moniker -->
  <xsd:element name="claseHasOperacionMoniker" type="ClaseHasOperacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasOperacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasOperacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseInheritsClaseHija -->
  <xsd:element name="claseInheritsClaseHija" type="ClaseInheritsClaseHija" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseInheritsClaseHija">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: disjuntaSolapada -->
        <xsd:attribute name="disjuntaSolapada" type="disjuntaSolapada" />
        <!-- Property: totalParcial -->
        <xsd:attribute name="totalParcial" type="totalParcial" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseInheritsClaseHija Moniker -->
  <xsd:element name="claseInheritsClaseHijaMoniker" type="ClaseInheritsClaseHijaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseInheritsClaseHijaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseInheritsClaseHija instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaHasOperacionAbstracta -->
  <xsd:element name="claseAbstractaHasOperacionAbstracta" type="ClaseAbstractaHasOperacionAbstracta" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAbstractaHasOperacionAbstracta">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end OperacionAbstracta -->
          <xsd:element ref="operacionAbstracta" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaHasOperacionAbstracta Moniker -->
  <xsd:element name="claseAbstractaHasOperacionAbstractaMoniker" type="ClaseAbstractaHasOperacionAbstractaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAbstractaHasOperacionAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstractaHasOperacionAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseReferencesTargetClase -->
  <xsd:element name="claseReferencesTargetClase" type="ClaseReferencesTargetClase" substitutionGroup="claseReferencesTargetClases" />
  <xsd:complexType name="ClaseReferencesTargetClase">
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClases">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseReferencesTargetClase Moniker -->
  <xsd:element name="claseReferencesTargetClaseMoniker" type="ClaseReferencesTargetClaseMoniker" substitutionGroup="claseReferencesTargetClasesMoniker" />
  <xsd:complexType name="ClaseReferencesTargetClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseReferencesTargetClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClasesMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseIncludesTargetClase -->
  <xsd:element name="claseIncludesTargetClase" type="ClaseIncludesTargetClase" substitutionGroup="claseReferencesTargetClases" />
  <xsd:complexType name="ClaseIncludesTargetClase">
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClases">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseIncludesTargetClase Moniker -->
  <xsd:element name="claseIncludesTargetClaseMoniker" type="ClaseIncludesTargetClaseMoniker" substitutionGroup="claseReferencesTargetClasesMoniker" />
  <xsd:complexType name="ClaseIncludesTargetClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseIncludesTargetClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClasesMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseRelatesTargetClase -->
  <xsd:element name="claseRelatesTargetClase" type="ClaseRelatesTargetClase" substitutionGroup="claseReferencesTargetClases" />
  <xsd:complexType name="ClaseRelatesTargetClase">
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClases">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseRelatesTargetClase Moniker -->
  <xsd:element name="claseRelatesTargetClaseMoniker" type="ClaseRelatesTargetClaseMoniker" substitutionGroup="claseReferencesTargetClasesMoniker" />
  <xsd:complexType name="ClaseRelatesTargetClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseRelatesTargetClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseReferencesTargetClasesMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseReferencesTargetClases -->
  <xsd:element name="claseReferencesTargetClases" abstract="true" type="ClaseReferencesTargetClases" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseReferencesTargetClases" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: cardinalidad1 -->
        <xsd:attribute name="cardinalidad1" type="cardinalidades" />
        <!-- Property: cardinalidad2 -->
        <xsd:attribute name="cardinalidad2" type="cardinalidades" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseReferencesTargetClases Moniker -->
  <xsd:element name="claseReferencesTargetClasesMoniker" abstract="true" type="ClaseReferencesTargetClasesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseReferencesTargetClasesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseReferencesTargetClases instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasOperacionEnriquecida -->
  <xsd:element name="claseEnriquecidaHasOperacionEnriquecida" type="ClaseEnriquecidaHasOperacionEnriquecida" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasOperacionEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end OperacionEnriquecida -->
          <xsd:element ref="operacionEnriquecida" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasOperacionEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaHasOperacionEnriquecidaMoniker" type="ClaseEnriquecidaHasOperacionEnriquecidaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasOperacionEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasOperacionEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionHasParametros -->
  <xsd:element name="operacionHasParametros" type="OperacionHasParametros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="OperacionHasParametros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parametro -->
          <xsd:element ref="parametro" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionHasParametros Moniker -->
  <xsd:element name="operacionHasParametrosMoniker" type="OperacionHasParametrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionHasParametrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionHasParametros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaReferencesClaseHijaDeAbstracta -->
  <xsd:element name="claseAbstractaReferencesClaseHijaDeAbstracta" type="ClaseAbstractaReferencesClaseHijaDeAbstracta" substitutionGroup="claseInheritsClaseHija" />
  <xsd:complexType name="ClaseAbstractaReferencesClaseHijaDeAbstracta">
    <xsd:complexContent>
      <xsd:extension base="ClaseInheritsClaseHija">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaReferencesClaseHijaDeAbstracta Moniker -->
  <xsd:element name="claseAbstractaReferencesClaseHijaDeAbstractaMoniker" type="ClaseAbstractaReferencesClaseHijaDeAbstractaMoniker" substitutionGroup="claseInheritsClaseHijaMoniker" />
  <xsd:complexType name="ClaseAbstractaReferencesClaseHijaDeAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstractaReferencesClaseHijaDeAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseInheritsClaseHijaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasAtributoEnriquecido -->
  <xsd:element name="claseEnriquecidaHasAtributoEnriquecido" type="ClaseEnriquecidaHasAtributoEnriquecido" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasAtributoEnriquecido">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoEnriquecido -->
          <xsd:element ref="atributoEnriquecido" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasAtributoEnriquecido Moniker -->
  <xsd:element name="claseEnriquecidaHasAtributoEnriquecidoMoniker" type="ClaseEnriquecidaHasAtributoEnriquecidoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasAtributoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasAtributoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum entradaSalida -->
  <xsd:simpleType name="entradaSalida">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="entrada"/>
      <xsd:enumeration value="salida"/>
      <xsd:enumeration value="entradaSalida"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipoDatos -->
  <xsd:simpleType name="tipoDatos">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="String"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum cardinalidades -->
  <xsd:simpleType name="cardinalidades">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="c0"/>
      <xsd:enumeration value="c1"/>
      <xsd:enumeration value="c01"/>
      <xsd:enumeration value="c0N"/>
      <xsd:enumeration value="c1N"/>
      <xsd:enumeration value="MN"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum disjuntaSolapada -->
  <xsd:simpleType name="disjuntaSolapada">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="disjunta"/>
      <xsd:enumeration value="solapada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum totalParcial -->
  <xsd:simpleType name="totalParcial">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="total"/>
      <xsd:enumeration value="parcial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum modificadorAtr -->
  <xsd:simpleType name="modificadorAtr">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="publico"/>
      <xsd:enumeration value="privado"/>
      <xsd:enumeration value="protegido"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum modificadorAtr1 -->
  <xsd:simpleType name="modificadorAtr1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="publico"/>
      <xsd:enumeration value="privado"/>
      <xsd:enumeration value="protegido"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

